body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  font-weight: 300;
}

#pie-chart {
  background-color: #121314;
  /*border: 1px solid gray;*/
  font: 10px sans-serif;
  height: 400px;
  text-shadow: none;
  width: 650px;
  margin-left: auto;
  margin-right:auto;
}
#pie-chart .total{
  font-size: 20px;
  font-weight: bold;
}
#pie-chart .units{
  fill: gray;
  font-size: 14px;
}
#pie-chart .label{
  fill: white;
  font-size: 14px;
  font-weight: bold;
}
#pie-chart .value{
  fill: white;
  font-size: 20px;
  font-weight: bold;
}

.toolTip {
    position: absolute;
    /*display: none;*/
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}